@use 'modulus/variables' as var;
@use 'modulus/mixin' as mix;
/*
cd /scss/compiler
./scss2css.sh
*/
/* Repeated Selector */

/* Configuracion General */
* {
    color: var.$font-color-1;
    font-family: var.$font-family-1;
}

/* Para la configuracion de la Navbar */
header{
    width: 100%;
    height: var.$height-navbar;
    position: fixed;
    z-index: 2;
}
#navbar-link {
    @include mix.wh-100;
    display: flex;
    justify-content: space-around;
    background: var.$bg-transparent-1; /*- Add semi-trasnparent font */
}
.menu {
    display: flex;
    align-items: center;

    > li {
        margin: var.$margin;
    }

    a:hover {
        background: var.$rosa-mx;
        color: var.$font-color-1;
    }
}
#logo > a > img {
    @include mix.wh-100;
}
ul {
    list-style: none;
}
li a {
    text-decoration: none;
    font-size: var.$anchor;
    color: var.$font-color-1;
    padding: 6px 20px;
    border-radius: 20px;
    font-weight: var.$bold-letter;
    text-shadow: var.$text-shadow-1;
}

/* Main */
main {
    padding-top: var.$height-navbar;

    > h1 {
        left: 4rem;
        font-size: var.$title;
        font-family: var.$font-family-2;
        display: flex;
        justify-content: center;
    }
}

/* Secciones */
.card {
    @include mix.mp-0;
    display: grid;
    height: var.$height-card;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}
.image-look {
    @include mix.wh-100;
    grid-column: 1/2; 
    grid-row: 1/2; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    background-color: gold;

    > div {
        @include mix.wh-100;
        display: flex;
        justify-content: center;
        background-color: grey;

        > img {
            @include mix.wh-100;
            object-fit: cover;
        }
    }
}
.descrition {
    grid-column: 2/3; 
    grid-row: 1/2; 
    background-color: aqua;
}